CompileFlags:
  Add:
    - --target=x86_64-elf
    - -ffreestanding
    - -nostdinc
    - -std=c11
    - -isystem include
    - -isystem sys/
    - -isystem sys/hvos/include
    - -isystem obj/include
    - -isystem sysdeps
    - -lgcc
  Remove:
    - -I*