CompileFlags:
  Add:
    - --target=x86_64-elf
    - -ffreestanding
    - -nostdinc
    - -std=c11
    - -isystem include
    - -isystem sys/
    - -isystem sys/hvos/include
    - -isystem obj/include
    - -isystem sysdeps
    - -isystem /home/h/opt/cross/lib/gcc/x86_64-elf/16.1.0/include
  Remove:
    - -I*